@model VirtualAssistant.Web.Models.LoginModel

@{
	ViewBag.Title = "Log in";
}
@section usage{
	<link rel="stylesheet" href="~/Content/clean-canvas-bootstrap/sign-in.css">
	<link rel="stylesheet" href="~/Content/clean-canvas-custom-fixes/sign-in-fix.css">
}
<div id="sign_in2">
	<div class="container">
		<div class="section_header">
			<h3>Sign in</h3>
		</div>
		<div class="row login">
			<div class="span5 left_box">
				<h4>Log in to your account</h4>

				<div class="perk_box">
					<div class="perk">
						<span class="icos ico1"></span>
						<p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
					</div>
					<div class="perk">
						<span class="icos ico2"></span>
						<p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
					</div>
					<div class="perk">
						<span class="icos ico3"></span>
						<p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
					</div>
				</div>
			</div>

			<div class="span6 signin_box">
				<div class="box">
					<div class="box_cont">
						@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
						<div class="division">
							<div class="line l"></div>
							<span>or</span>
							<div class="line r"></div>
						</div>

						<div class="form">
							@using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
							{
								@Html.AntiForgeryToken()
								@Html.Partial("_BootstrapValidationSummary", ViewData.ModelState)
								@Html.TextBoxFor(m => m.UserName, new {@placeholder = "Email"})
								@Html.PasswordFor(m => m.Password, new {@placeholder = "Password"})
								<label class="checkbox">
									<div>
										@Html.CheckBoxFor(m => m.RememberMe)
									</div>
									Remember Me?
								</label>
								<div class="forgot">
									<span>Don’t have an account?</span>
									<a href="@Url.Action("Register", "Account")">Sign up</a>
								</div>
								<input type="submit" value="sign in" />
							}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
