<div class="btn-group pull-right">
    @if (Request.IsAuthenticated)
    {
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
        </i>Hello, @User.Identity.Name<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Manage Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage Account" })</li>
            <li class="divider"></li>            
	        <li>
		        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", style="margin:0;"}))
		        {
			        @Html.AntiForgeryToken()
			        <a id="logout" href="javascript:document.getElementById('logoutForm').submit()" style="display: none">Log Off</a>
			        <script>
            		//<!--
        				var l = document.getElementById('logout');
        				if (typeof(l) != 'undefined' && l != null)
        					l.style.display = "block";
        			//-->
					</script>
			        <noscript>
				        <input type="submit" value="Log Off" />
			        </noscript>
			        <link rel="stylesheet" href="~/Content/bootstrap/logout-item-fix.css"/>
		        }
	        </li>
        </ul>
    }
    else
    {
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
        </i>Login <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</div>
